{% extends 'base.html.twig' %}

{% block title %}Shop
{% endblock %}

{% block body %}
	{% for product in products %}
		<div class="container">
			<div class="row justify-content-lg-center">
				<div class="col-lg-9 col-12">
					<div class="card mb-3 shadow-lg">
						<div class="row no-gutters">
							<div class="col-md-4 mx-auto">
								<img src="{{ product.poster }}" class="card-img img-fluid" alt="...">
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<div class="d-flex flex-column flex-lg-row justify-content-start"></div>
									<h3 class="mb-0">{{ product.name }}</h3>
									<p class="card-text">{{ product.description }}</p>
									<h5 class="card-title me-auto">
										{{ product.price }}
										<small>Points de fidélité
										</small>
									</h5>
									<div class="d-flex justify-content-between">
										<a href="#" class="btn btn-primary">Voir la fiche</a>
										<a href="#" class="btn btn-primary">Acheter</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}

{% endblock %}
